@using AMS.Models;
@model GatePass
@{
    ViewBag.Title = "GPInvoice";
    Layout = null;
    ApplicationDbContext db = new ApplicationDbContext();
    DateTime date = ViewBag.Date;
    string gpNo = ViewBag.gpNo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Admin/assets/images/favicon.png">
    <title>Invoice</title>
    <link href="~/Content/Admin/dist/css/style.min.css" rel="stylesheet">
</head>
<body class="skin-default fixed-layout">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div>
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div>
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row" style="margin-top:20px;margin-right:15%;margin-left:15%;">
                    <div class="col-md-12">
                        <div class="card card-body printableArea">
                            <h5>
                                <span class="pull-right float-left">&nbsp;<b>Date: </b>@date</span>
                                <span class="pull-right float-right" style="margin-right:20%"><b>GP# </b>@gpNo</span>
                            </h5>
                            <hr>
                            @if (Model != null)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <address>
                                                <h4> &nbsp; Party Name: <b class="text-danger">@Model.Customer.Customer_Company</b></h4>
                                                <p class="text-muted m-l-5">
                                                    @Model.Customer.Customer_Address
                                                    <br /> @Model.Customer.Customer_MobileNo
                                                </p>
                                                <p> 
                                                    <span class="pull-left float-left">&nbsp;<b>Demand #</b>_____________________________  PO #<b class="text-info">@Model.PurchaseOrder_Pt.POP_PO</b></span>
                                                    <span class="pull-right float-right"><b>Builty #</b>__________________</span>
                                                </p>
                                                
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive m-t-40" style="clear: both;">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th>Description</th>
                                                        <th class="text-right">Quantity</th>
                                                        <th class="text-right">Unit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int sr = 0; }
                                                    @foreach (var poCh in db.PurchaseOrder_Ches.Where(s => s.POP_Id == Model.PurchaseOrder_Pt.POP_Id))
                                                    {
                                                        sr++;
                                                        <tr>
                                                            <td class="text-center">@sr</td>
                                                            <td>@poCh.POC_Description</td>
                                                            <td class="text-right">@poCh.POC_Quantity </td>
                                                            <td class="text-right">@poCh.POC_Unit </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="pull-right m-t-30 text-right">
                                            <hr>
                                        </div>
                                        <br>
                                        <p>&nbsp;<b>Remarks</b> <span class="pull-right">_____________________________________________________________________________</span></p>
                                        <br>
                                        <p>
                                            <span class="pull-left float-left">&nbsp;<b>Checked by</b>_____________________________</span>
                                            <span class="pull-right float-right"><b>Receiver Sign</b>_____________________________</span>
                                        </p>
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="text-right">
                                            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                                        </div>
                                    </div>
                                </div>
                                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/Admin/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/Content/Admin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/Admin/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/Admin/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/Admin/dist/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/Admin/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/Content/Admin/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/Admin/dist/js/custom.min.js"></script>
    <script src="~/Content/Admin/dist/js/pages/jquery.PrintArea.js" type="text/JavaScript"></script>
    <script>
    $(document).ready(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
    </script>
</body>
</html>