@model AMS.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategorySub.CategorySub_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorySub.CategorySub_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSize.ProductSize_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSize.ProductSize_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_UnitPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
