@model IEnumerable<AMS.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategorySub.CategorySub_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductSize.ProductSize_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategorySub.CategorySub_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSize.ProductSize_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_Id })
        </td>
    </tr>
}

</table>
